<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面模板</title>
    <link type="text/css" rel="stylesheet" href="Template-Article.css">
    <script type="text/javascript" src="Template-Article.js"></script>
</head>

<body>
    <!-- 页眉------------------------------------------------------------------------------------------------ -->
    <div class="MiniHeader">
        <div class="navigationBlock">
            <div class="navigationBlockA" id="navigationBlockA">
                <div class="navigationBlockB" id="navigationBlockB">
                    <div class="avatar" id="avatar" onclick="viewavatar()">
                        <a href="https://garfieldgod.cn"><img style="width: 100%; height: 100%;margin:auto;" src="Resource/Avatar.jpg" alt=""></a>
                    </div>
                    <div class="BriefIntroduction">
                        <h1 style="color: white;font-size: 44px;font-family:Times New Roman;white-space:nowrap;">
                            GarfieldGod</h1>
                        <div style="color: white;white-space:nowrap;">
                            I'm God. <br>
                            <a href="https://garfieldgod.cn"
                                style="color: white;font-style:italic;white-space:nowrap;">garfieldgod.cn</a>
                        </div>
                    </div>
                </div>
                <div class="TheNavigation" id="TheNavigation">
                    <ul class="mainmenu" style="list-style-type:none;margin-right: 100px;">
                        <li><a href="             ">社区</a>
                            <ul class="submenu">
                                <li><a href="     ">前往社区</a></li>
                                <li><a
                                        href="    ">友情链接</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:">作品</a>
                            <ul class="submenu">
                                <li><a href="     ">日志</a></li>
                                <li><a
                                        href="    ">绘画作品</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="             ">个人信息</a>
                        </li>
                        <li><a href="             ">动态</a></li>
                        <li><a href="             ">首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- 内容------------------------------------------------------------------------------------------------ -->
    <div id="contentbackground">
        <div class="contentsA">
            <div class="ContentsOfContents"><!-- 文章内容----------------------------- -->
                <h1>文章标题</h1><br><br>
                <hr
                    style="border-top: 1px solid #bfbfbf;border-bottom: 1px solid #bfbfbf;width: 90%;margin: auto;margin-bottom: 15px;">
                <div class="previewwork">
                    <p>
                        文章内容 段落1
                    </p>
                    <p>
                        文章内容 段落2
                    </p>
                    <p>
                        文章内容 段落3
                    </p>
                    <p>
                        文章内容 段落4
                    </p>
                    <p>
                        文章内容 段落5
                    </p>
                    <p>
                        文章内容 段落6
                    </p>
                    <p>
                        ......
                    </p>
                    <br><br><br><br>
                </div>
                <hr style="border-top: 1px solid #bfbfbf;border-bottom: 1px solid #bfbfbf;width: 90%;margin: auto;margin-bottom: 15px;">
                <div class="previewimg"><img src="" alt="" style="margin-top: -12.5%;width: 100%;"></div>
                <div class="previewwork">
                    <p style="font-size: 16px;text-align:right;line-height: 16px;">GarfieldGod</p>
                    <p style="font-size: 16px;text-align:right;line-height: 16px;">文章日期</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- 页脚------------------------------------------------------------------------------------------------ -->
    <div id="thefooter">
        <hr class="hr-solid" style="border-top: 1.5px solid black;border-bottom: 1.5px solid black;">
        <div class="morelinks">
            <div class="morelink">
                <p style="left:10%;">了解更多</p>
                <p style="right: 10%;font-style:italic;"><a href="https://garfieldgod.cn"
                        style="color: black;">GarfiledGod</a></p>
                <div class="morelinksicon">
                    <div class="morelinksicons"><a href="https://steamcommunity.com/profiles/76561198239055708"><img
                                src="Resource/steam.png" alt=""></a></div>
                    <div class="morelinksicons" style="margin-left: 25px;margin-right: 25px;"><a
                            href="https://space.bilibili.com/12008567"><img src="Resource/bilibili.png" alt=""></a>
                    </div>
                    <div class="morelinksicons"><a href="https://user.qzone.qq.com/1351763110"><img
                                src="Resource/QQspace.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------ -->
</body>

</html>